# See http://help.github.com/ignore-files/ for more about ignoring files.

# OS X
# =====================================================
.DS_Store

# compiled output
# =====================================================
/dist
/tmp

# dependencies
# =====================================================
/node_modules
/bower_components/*

# misc
# =====================================================
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# linguis test files
*.tmp_cookie

*.xpressive_config

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


# Sublime text files
# =====================================================
*.sublime-project
*.sublime-workspace

# Xcode
# =====================================================
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Cordova
# =====================================================
cordova/hooks/README.md
# Browser
!cordova/platforms/browser/config.xml
# iOS
cordova/platforms/ios/build/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log

# android
cordova/platforms/android/assets/www
cordova/platforms/android/bin
cordova/platforms/android/gen
cordova/platforms/android/local.properties
cordova/platforms/android/ant-build
cordova/platforms/android/ant-gen
cordova/platforms/android/CordovaLib/ant-build
cordova/platforms/android/CordovaLib/ant-gen
cordova/platforms/android/CordovaLib/bin
cordova/platforms/android/CordovaLib/gen
cordova/platforms/android/CordovaLib/local.properties

# wp8
cordova/platforms/wp8/bin
cordova/platforms/wp8/obj
cordova/platforms/wp8/www
cordova/platforms/wp8/.staging
cordova/platforms/wp8/*.suo
cordova/platforms/wp8/*.csproj.user
